---
import { Image } from "astro:assets";
import heroImage from "../../../images/hero-image.jpg";
import logo from "/public/logo_text.svg"

const {
  title,
  subTitle,
} = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
}
---

<section
  class="mx-auto grid max-w-[85rem] gap-4 px-4 py-14 sm:px-6 md:grid-cols-2 md:items-center md:gap-8 lg:px-8 2xl:max-w-full"
>
  Text
</section>
