---
// Import the necessary dependencies
import PrimaryCTA from "../../ui/buttons/PrimaryCTA.astro";
import heroImage from "../../../images/hero-image.jpg";


// Define props from Astro
const { title, subTitle, url } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
  url?: string;
}
---

<section
  class="relative mx-auto max-w-[85rem] px-4 pb-24 pt-10 sm:px-6 lg:px-8"
>
  <!-- Decorating SVG elements -->
  <div
    class="absolute left-0 top-[55%] scale-90 md:top-[20%] xl:left-[10%] xl:top-[25%]"
  >
  </div>
  <!-- Hero Section Heading -->
  <div class="mx-auto mt-5 max-w-xl text-center">
    <h2
      class="block text-balance text-4xl font-bold leading-tight tracking-tight text-neutral-800 dark:text-neutral-200 md:text-5xl lg:text-6xl"
    >
      {title}
    </h2>
  </div>
  <!-- Hero Section Sub-heading -->
  <div class="mx-auto mt-5 max-w-3xl text-center">
    {
      subTitle && (
        <p class="text-pretty text-lg text-neutral-600 dark:text-neutral-400">
          {subTitle}
        </p>
      )
    }
  </div>
  <!--{-->
  <!--  url && (-->
  <!--    <div class="mt-8 flex justify-center gap-3">-->
  <!--      <PrimaryCTA url={url} title={"Contact Us Today"} />-->
  <!--    </div>-->
  <!--  )-->
  <!--}-->
</section>
