---
// Import the necessary components
// TODO: Add Directors new section
import MainLayout from "../layouts/MainLayout.astro";
import HeroSectionAlt from "../components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "../components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "../components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "../components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "../components/sections/testimonials/TestimonialsSection.astro";
---

<MainLayout title="Saniket Group">

  <!--<HeroSection-->
  <!--  title=`Welcome to <span-->
  <!--      class="text-blue-500 dark:text-blue-400">Saniket Group</span>`-->
  <!--  subTitle="Tag Line Here"-->
  <!--  primaryBtn="Contact Us Today"-->
  <!--  primaryBtnURL="/contact"-->
  <!--  withReview={false}-->
  <!--  avatars={avatarSrcs}-->
  <!--  rating=`<span class="font-bold">4.8</span> / 5`-->
  <!--  starCount={4}-->
  <!--  reviews=`From Over <span class="font-bold">12.8k</span> Reviews`-->
  <!--/>-->

  <HeroSectionAlt
    title="Welcome to Saniket Group"
    subTitle="Commited to a better future"
    url="/contact"
  />

  <FeaturesNavs />


  <FeaturesGeneral />


  <ClientsSection
    title="Trusted by Industry Leaders"
    subTitle="Experience the reliability chosen by industry giants."
  />


  <TestimonialsSection
    title="State-of-the-Art"
    subTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
    ;
    testimonials={[
      {
        content:
          "fyudsgysdfgyugfuisadbbg",
        author: "Yash Wani",
        role: "Pokemon GO!",
        avatarSrc:
          "https://www.yashwani2000.com/static/media/face1.04370258c90bb0763ffa.png"
      }
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "shdbvh"
      },
      {
        count: "35%",
        description:
          "gsdfgsf"
      },
      {
        count: "15.3%",
        description:
          "gfdsfsdf"
      },
      {
        count: "2x",
        description: "sdgfgfsdrfsdf"
      }
    ]}
  />


</MainLayout>
